{{ header }}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>{{ heading_title }}</h1>
      {% if products %}
        {% for product in products %}
          <div class="col-12 col-lg-4 mt-5">
            <div class="card bg-light border border-white">
              <img class="card-img-top" src="{{ product.thumb }}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <h5 class="mb-4 font-weight-bold">От {{ product.price }}</h5>
                <a href="{{ product.href }}" class="btn btn-primary" tabindex="-1">Смотреть проект</a>
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
      <h2>Товаров не найдено</h2>
      {% endif %}
    </div>
  </div>
</div>
{{ footer }} 
