{{ header }}
<!-- First block -->
<div class="container mt-4">
    {% for breadcrumb in breadcrumbs %}
        <p class="path">{{ breadcrumb.text }}</p>
    {% endfor %}
    <div class="row justify-content-center">
        <h1 class="font-weight-bold mb-5 text-center mt-5"><?php echo $heading_title; ?></h1>
    </div>

    <div id="galeryCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {% if thumb or images %}
                {% if thumb %}
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-10">
                                <img src="{{ popup }}" class="galery_main" alt="">
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if images %}
                    {% for image in images %}
                        <div class="carousel-item">
                            <div class="row">

                                <div class="col-3">
                                    <img src="{{ image.thumb }}" class="galery_left" alt="">
                                </div>
                                <div class="col-10">
                                    <img src="{{ image.popup }}" class="galery_main" alt="">
                                </div>
                                <div class="col-3">
                                    <img src="{{ image.thumb }}" class="galery_right" alt="">
                                </div>

                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endif %}
        </div>
        <a class="carousel-control-prev d-none d-md-flex" href="#galeryCarousel" role="button" data-slide="prev">
            <div class="col-3 d-none d-md-block">
                <img src="/catalog/view/theme/montazh/image/svg/left_arrow.svg" alt="" class="arrow">
            </div>
        </a>
        <a class="carousel-control-next d-none d-md-flex d-none d-md-flex" href="#galeryCarousel" role="button" data-slide="next">
            <div class="col-3 d-none d-md-block">
                <img src="/catalog/view/theme/montazh/image/svg/right_arrow.svg" alt="" class="arrow">
            </div>
        </a>
    </div>

    <div class="row justify-content-center mt-4">
        <a class="d-md-none d-inline-block galery-arrow-mini" href="#galeryCarousel" role="button" data-slide="prev"><img src="/catalog/view/theme/montazh/image/svg/left_arrow.svg" class="col d-md-none" alt=""></a>
        {% if images %}
            {% for image in images %}
                <div class="col d-none d-md-flex col-md-1"><img src="{{ image.thumb }}" alt=""></div>
            {% else %}
                <div class="col d-none d-md-flex col-md-1"><img src="{{ thumb }}" alt=""></div>
            {% endfor %}
        {% endif %}
        <a class="d-md-none d-inline-block galery-arrow-mini" href="#galeryCarousel" role="button" data-slide="next"><img src="/catalog/view/theme/montazh/image/svg/right_arrow.svg" class="col d-md-none" alt=""></a>
    </div>
    <div class="row justify-content-center">
        <div class="col-10 mt-5">
            <p class="galery_description">Mi velit mauris eget mauris nulla semper porttitor Mi velit mauris eget mauris nulla semper porttitor Mi velit mauris eget mauris nulla semper porttitor Mi velit mauris eget mauris nulla semper porttitor Mi velit mauris eget mauris nulla semper porttitor Mi velit mauris eget</p>
        </div>
    </div>
</div>

<!-- Second block -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">
            <h1 class="font-weight-bold">Описание</h1>
            <p class="galery_description mt-4">{{ description }}</p>
        </div>
    </div>
</div>

<!-- Third block -->
<div class="container galery">
    {% if attribute_groups %}
        {% for attribute_group in attribute_groups %}
            <div class="row justify-content-center">
                <div class="col-10">
                    <h1 class="font-weight-bold mt-4 pt-4" style="font-size: 200%;">{{ attribute_group.name }}</h1>
                </div>
            </div>

            <ul>
                {% for attribute in attribute_group.attribute %}
                    <li class="row justify-content-center mt-3 characteristic">
                        <div class="col-5 col-md-3">{{ attribute.name }}</div>
                        <div class="col-0 col-md-6"></div>
                        <div class="col-5 col-md-2 text-md-right">{{ attribute.text }}</div>
                    </li>
                {% endfor %}

            </ul>
        {% endfor %}
    {% endif %}
    {% if price %}
        <div class="row mt-5 text-right price">
            <div class="col-0 col-md-4 col-lg-5 col-xl-4"></div>
            <div class="col-12 text-center col-md-4 col-lg-3 col-xl-4"><p>Стоимость проекта:</p></div>
            <div class="col-12 col-md-4 col-lg-3 col-xl-4 text-center font-weight-bold">
                <p>от {{ price }}</p></div>
        </div>
    {% endif %}
</div>

<!-- parser -->
<div class="container mt-5 pd-5"> </div>

<!-- Fourth block -->
<div class="container">
    <div class="row justify-content-center">
        <h1 class="font-weight-bold text-center">Карточки товаров</h1>
    </div>
    <div class="tags mt-5" id="categories">
        {% if categories %}
            {% for category_all in categories %}
        <button class="hashtag" id="{{ category_all.id }}" data-href="{{ category_all.href }}">#{{ category_all.name }}</button>
            {% endfor %}
        {% endif %}
    </div>
    <div class="shop-carousel" id="productsbottom">
        {% for productbottom in productsbottom %}
            <div class="col-12 col-lg-4 mt-5 appended">
                <div class="card bg-light border border-white">
                    <img class="card-img-top" src="{{ productbottom.thumb }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ productbottom.name }}</h5>
                        <p class="card-text">{{ productbottom.description }}</p>
                        <h5 class="mb-4 font-weight-bold">От {{ productbottom.price }}</h5>
                        <a href="{{ productbottom.href }}" class="btn btn-primary">Смотреть проект</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="container mt-2 pt-1"> </div>
<script>
    $(document).ready(function(){
       $('body #categories button').on('click', function(e){
          e.preventDefault();
          // $('body #productsbottom .appended').remove();
          $.ajax({
              url: '/index.php?route=product/product/categoryProductsAjax&category_id=' + $(this).attr('id'),
              type: 'GET',
              dataType: 'json'
          }).done(function(data){
              if(data.products.length >= 4) {
                  $('body #productsbottom .appended').remove();
                  $('body #productsbottom').css('display', 'block');
                  $.each(data.products, function (i, item) {
                      var html = '<div class="col-12 col-lg-4 mt-5 appended" id="appended_' + i + '">' +
                          '<div class="card bg-light border border-white">' +
                          '<img class="card-img-top" src="' + item.thumb + '" alt="Card image cap">' +
                          '<div class="card-body">' +
                          '<h5 class="card-title">' + item.name + '#</h5>' +
                          '<p class="card-text">' + item.description + '</p>' +
                          '<h5 class="mb-4 font-weight-bold">От ' + item.price + '</h5>' +
                          '<a href="' + item.href + '" class="btn btn-primary">Смотреть проект</a>' +
                          '</div>' +
                          '</div>' +
                          '</div>';
                          $('body #productsbottom').slick('slickAdd', html);
                  });
              }else{
                  /*$('.shop-carousel').slick('unslick');*/
                  $('body #productsbottom .appended').remove();
                  $('body #productsbottom').css('display', 'flex');

                  $.each(data.products, function (i, item) {
                      var html = '<div class="col-12 col-lg-4 mt-5 appended" id="appended_' + i + '">' +
                          '<div class="card bg-light border border-white">' +
                          '<img class="card-img-top" src="' + item.thumb + '" alt="Card image cap">' +
                          '<div class="card-body">' +
                          '<h5 class="card-title">' + item.name + '#</h5>' +
                          '<p class="card-text">' + item.description + '</p>' +
                          '<h5 class="mb-4 font-weight-bold">От ' + item.price + '</h5>' +
                          '<a href="' + item.href + '" class="btn btn-primary">Смотреть проект</a>' +
                          '</div>' +
                          '</div>' +
                          '</div>';
                          $('body #productsbottom').append(html);
                          $('body #productsbottom .slick-dots').css('display', 'none');
                  });
              }
          })
          });
    });
</script>
{{ footer }}